@model IEnumerable<WatchShop.Models.Brand>

@{
    ViewBag.Title = "Brands";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Brands</h2>

<p>
    @Html.ActionLink("Create Brand", "Create","Brand")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.ActionLink("Edit","Edit","Brand", new { id = item.id }, new { @class = ""}) |
            @Html.ActionLink("Delete", "Delete","Brand", new { id=item.id }, new { @class = "" })
        </td>
    </tr>
}

</table>
