@model IEnumerable<WatchShop.Models.Category>
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Categories</h2>
<p>
    @Html.ActionLink("Create Category", "Create","Category")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit","Category", new { id = item.id }, new { @class = "" }) |
                @Html.ActionLink("Delete", "Delete", "Category", new { id = item.id }, new { @class = "" })
            </td>
        </tr>
    }

</table>

