@model IEnumerable<WatchShop.Models.Item>

@{
    ViewBag.Title = "Items";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<button type="button" class="btn btn-primary mt-1">@Html.ActionLink("Create Item", "Create", "Item")</button>

<div class="row mt-4">
    <div class="col-lg-12">
        <div class="table-responsive table--no-card m-b-30">
            <table class="table table-borderless table-striped table-earning">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.name)</td>
                            <td><img src="@Html.DisplayFor(modelItem => item.image)" style="width:50px;height:auto;"></td>
                            <td>@Html.DisplayFor(modelItem => item.price)</td>
                            <td>
                                <pre style="font-size: 16px; font-family: Poppins, sans-serif; color: #808080;">@Html.ActionLink("Edit", "Edit", "Item", new { id = item.id },new { id = "cc", Style = "color: #808080"})  | @Html.ActionLink("Delete", "Delete","Item",new { id = item.id },new {id = "cc", Style = "color: #808080"})</pre>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>